body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
  }

  header {
    background-color: #003e6d;
    color: white;
    padding: 30px 0;
  }

  header h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }

  main {
    margin-top: 30px;
  }

  article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }

  h2 {
    color: #003e6d;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h3 {
    color: #003e6d;
    font-size: 1.5rem;
    margin-top: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  ul li {
    margin-bottom: 8px;
    font-size: 1.2rem;
  }

  img {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;

  }

  aside {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }

  footer {
    background-color: #003e6d;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }

  footer p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .btn-primary {
    background-color: #003e6d;
    border-color: #003e6d;
  }

  .btn-primary:hover {
    background-color: #001e34;
    border-color: #001e34;
  }

  .image-gallery {
    margin-top: 30px;
  }

  .image-gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;

  }

  .image-gallery .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tamanho {
    width: 100%;
    max-width: 100px;
    margin: 10px;
  }
.centro {
    margin-left: 475px ;


}
  